pipeline/pl_metadata_ingest.json
{
    "name": "pl_metadata_ingest",
    "objectId": "",
    "properties": {
        "description": "Metadata-driven ingestion. Reads config_ingestion, loops, copies ADLS Gen2 CSV files into Lakehouse Delta tables, writes an audit_log row per source, and emails success/failure summaries based on audit_log totals.",
        "activities": [
            {
                "name": "LKP_Config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DataWarehouseSource",
                        "sqlReaderQuery": "SELECT * FROM config_ingestion WHERE is_active = 1;",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "connectionSettings": {
                            "name": "wh_ingestion_demo",
                            "properties": {
                                "annotations": [],
                                "type": "DataWarehouse",
                                "typeProperties": {
                                    "endpoint": "<WAREHOUSE_ENDPOINT>",
                                    "artifactId": "<WAREHOUSE_ARTIFACT_ID>",
                                    "workspaceId": "<WORKSPACE_ID>"
                                },
                                "externalReferences": {
                                    "connection": "<WAREHOUSE_CONNECTION_ID>"
                                }
                            }
                        },
                        "type": "DataWarehouseTable",
                        "schema": [],
                        "typeProperties": {
                            "schema": "dbo",
                            "table": "config_ingestion"
                        }
                    }
                }
            },
            {
                "name": "FE_PerSource",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "LKP_Config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('LKP_Config').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "CP_AdlsToLakehouse",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": false,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "DelimitedText",
                                        "typeProperties": {
                                            "location": {
                                                "type": "AzureBlobFSLocation",
                                                "fileName": {
                                                    "value": "@item().source_path",
                                                    "type": "Expression"
                                                },
                                                "folderPath": "sampledata"
                                            },
                                            "columnDelimiter": ",",
                                            "escapeChar": "\\",
                                            "firstRowAsHeader": true,
                                            "quoteChar": "\""
                                        },
                                        "schema": [],
                                        "externalReferences": {
                                            "connection": "<ADLS_GEN2_CONNECTION_ID>"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "LakehouseTableSink",
                                    "tableActionOption": {
                                        "value": "@if(equals(item().load_mode,'full'),'Overwrite','Append')",
                                        "type": "Expression"
                                    },
                                    "partitionOption": "None",
                                    "datasetSettings": {
                                        "annotations": [],
                                        "connectionSettings": {
                                            "name": "lh_ingestion_demo",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "<WORKSPACE_ID>",
                                                    "artifactId": "<LAKEHOUSE_ID>",
                                                    "rootFolder": "Tables"
                                                },
                                                "externalReferences": {
                                                    "connection": "<LAKEHOUSE_CONNECTION_ID>"
                                                }
                                            }
                                        },
                                        "type": "LakehouseTable",
                                        "schema": [],
                                        "typeProperties": {
                                            "schema": "dbo",
                                            "table": {
                                                "value": "@item().target_table",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            }
                        },
                        {
                            "name": "SCR_Audit_Success",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "CP_AdlsToLakehouse",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "connectionSettings": {
                                "name": "wh_ingestion_demo",
                                "properties": {
                                    "annotations": [],
                                    "type": "DataWarehouse",
                                    "typeProperties": {
                                        "endpoint": "<WAREHOUSE_ENDPOINT>",
                                        "artifactId": "<WAREHOUSE_ARTIFACT_ID>",
                                        "workspaceId": "<WORKSPACE_ID>"
                                    },
                                    "externalReferences": {
                                        "connection": "<WAREHOUSE_CONNECTION_ID>"
                                    }
                                }
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "NonQuery",
                                        "text": {
                                            "value": "INSERT INTO audit_log (run_id, source_id, target_table, start_time, end_time, duration_sec, rows_copied, status, error_message) VALUES ('@{pipeline().RunId}', @{item().source_id}, '@{item().target_table}', '@{activity('CP_AdlsToLakehouse').executionStartTime}', '@{activity('CP_AdlsToLakehouse').executionEndTime}', @{activity('CP_AdlsToLakehouse').output.copyDuration}, @{activity('CP_AdlsToLakehouse').output.rowsCopied}, 'success', NULL);",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "SCR_Audit_Failure",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "CP_AdlsToLakehouse",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "connectionSettings": {
                                "name": "wh_ingestion_demo",
                                "properties": {
                                    "annotations": [],
                                    "type": "DataWarehouse",
                                    "typeProperties": {
                                        "endpoint": "<WAREHOUSE_ENDPOINT>",
                                        "artifactId": "<WAREHOUSE_ARTIFACT_ID>",
                                        "workspaceId": "<WORKSPACE_ID>"
                                    },
                                    "externalReferences": {
                                        "connection": "<WAREHOUSE_CONNECTION_ID>"
                                    }
                                }
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "NonQuery",
                                        "text": {
                                            "value": "INSERT INTO audit_log (run_id, source_id, target_table, start_time, end_time, duration_sec, rows_copied, status, error_message) VALUES ('@{pipeline().RunId}', @{item().source_id}, '@{item().target_table}', '@{utcNow()}', '@{utcNow()}', 0, 0, 'failed', '@{replace(coalesce(activity('CP_AdlsToLakehouse').error.message, 'unknown'), '''', '\"')}');",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        }
                    ]
                }
            },
            {
                "name": "LKP_RunSummary",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "FE_PerSource",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DataWarehouseSource",
                        "sqlReaderQuery": {
                            "value": "SELECT COUNT(*) AS total_rows, SUM(CASE WHEN status = 'failed' THEN 1 ELSE 0 END) AS fail_count, SUM(CASE WHEN status = 'success' THEN 1 ELSE 0 END) AS success_count, COALESCE(SUM(rows_copied), 0) AS total_rows_copied FROM dbo.audit_log WHERE run_id = '@{pipeline().RunId}';",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": true,
                    "datasetSettings": {
                        "annotations": [],
                        "connectionSettings": {
                            "name": "wh_ingestion_demo",
                            "properties": {
                                "annotations": [],
                                "type": "DataWarehouse",
                                "typeProperties": {
                                    "endpoint": "<WAREHOUSE_ENDPOINT>",
                                    "artifactId": "<WAREHOUSE_ARTIFACT_ID>",
                                    "workspaceId": "<WORKSPACE_ID>"
                                },
                                "externalReferences": {
                                    "connection": "<WAREHOUSE_CONNECTION_ID>"
                                }
                            }
                        },
                        "type": "DataWarehouseTable",
                        "schema": [],
                        "typeProperties": {
                            "schema": "dbo",
                            "table": "audit_log"
                        }
                    }
                }
            },
            {
                "name": "IF_AnyFailure",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "LKP_RunSummary",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(int(activity('LKP_RunSummary').output.firstRow.fail_count), 0)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "EMAIL_Success",
                            "type": "Office365Email",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "to": "data-ops@yourcompany.com",
                                "subject": {
                                    "value": "[Fabric] pl_metadata_ingest SUCCESS - @{pipeline().RunId}",
                                    "type": "Expression"
                                },
                                "body": {
                                    "value": "<p>Pipeline <b>pl_metadata_ingest</b> completed successfully.</p><ul><li>Run ID: @{pipeline().RunId}</li><li>Started: @{pipeline().TriggerTime}</li><li>Workspace: @{pipeline().DataFactory}</li><li>Sources processed: @{activity('LKP_RunSummary').output.firstRow.success_count}</li><li>Total rows copied: @{activity('LKP_RunSummary').output.firstRow.total_rows_copied}</li></ul><p>See the <b>Pipeline Monitoring</b> report for per-table row counts.</p>",
                                    "type": "Expression"
                                }
                            },
                            "externalReferences": {
                                "connection": "<OFFICE365_EMAIL_CONNECTION_ID>"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "EMAIL_Failure",
                            "type": "Office365Email",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "to": "data-ops@yourcompany.com",
                                "subject": {
                                    "value": "[Fabric] pl_metadata_ingest FAILED - @{pipeline().RunId}",
                                    "type": "Expression"
                                },
                                "body": {
                                    "value": "<p style=\"color:#b00020\"><b>Pipeline pl_metadata_ingest had failures.</b></p><ul><li>Run ID: @{pipeline().RunId}</li><li>Started: @{pipeline().TriggerTime}</li><li>Sources failed: @{activity('LKP_RunSummary').output.firstRow.fail_count}</li><li>Sources succeeded: @{activity('LKP_RunSummary').output.firstRow.success_count}</li></ul><p>Query <code>audit_log</code> WHERE <code>run_id = '@{pipeline().RunId}' AND status = 'failed'</code> for details.</p>",
                                    "type": "Expression"
                                }
                            },
                            "externalReferences": {
                                "connection": "<OFFICE365_EMAIL_CONNECTION_ID>"
                            }
                        },
                        {
                            "name": "FAIL_Pipeline",
                            "type": "Fail",
                            "dependsOn": [
                                {
                                    "activity": "EMAIL_Failure",
                                    "dependencyConditions": [
                                        "Completed"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat('Pipeline pl_metadata_ingest had ', string(activity('LKP_RunSummary').output.firstRow.fail_count), ' failed source(s). See audit_log WHERE run_id = ''', pipeline().RunId, '''.')",
                                    "type": "Expression"
                                },
                                "errorCode": "PipelineHadFailedSources"
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastModifiedByObjectId": "00000000-0000-0000-0000-000000000000",
        "lastPublishTime": "2026-01-01T00:00:00Z"
    }
}
